# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d07f05ce881ebce3144cd42993ca7461cc854f886c8887b71440fd8d71d4ccdcc1bc3796030cde42bd222364f848fcd0ad034396e90338ff500a14c5ce76c891

test:
  secret_key_base: 2caf14902dc82ce2e2860d3fea29eb1c2642f399e3c802b23856b374eca33d134c169bb69dc5b677867377342bb88963ec3072c3a4cdb68085f6fbab61b6b404

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
